.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  padding: 15px;
  box-sizing: border-box;
}
.auto-form-container {
  width: 100%;
  background: #fff;
  padding: 35px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px -1px #ccc;
}
.full-name-container {
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 1px 0px;
}
.full-name-input-container {
  color: #666;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 3px 0 12px 0;
  background: transparent;
  outline: none;
}
.full-name-input-container:focus {
  border-color: #f15a29;
}
.email-container {
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 1px 0px;
}
.email-input-container {
  color: #666;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 3px 0 12px 0;
  background: transparent;
  outline: none;
}
.email-input-container:focus {
  border-color: #f15a29;
}
.phone-number-container {
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 1px 0px;
}
.phone-number-input-container {
  color: #666;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 3px 0 12px 0;
  background: transparent;
  outline: none;
}
.phone-number-input-container {
  border-color: #f15a29;
}
.button-container {
  margin: 20px 0px 20px 0px;
}
.button-input {
  padding: 6px 7px 6px 7px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  background: #f15a29;
  border: none;
  box-shadow: 0px 0px 6px 0px #b0b0b0;
  font-size: 13px;
  font-weight: 700;
}
